Main Site Source/Application/Qualitiva.GSEMART.Web/App_WebReferences/GSEMartDI/DocIndex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.teleologic.co.uk/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.teleologic.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.teleologic.co.uk/">
      <s:element name="PublishDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublisherName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASIndentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventTypeDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FileCreatedDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EventDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="ExternalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublishDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublisherName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IndexId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PublishDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:PublishDocument" />
  </wsdl:message>
  <wsdl:message name="PublishDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:PublishDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="DocIndexSoap">
    <wsdl:operation name="PublishDocument">
      <wsdl:input message="tns:PublishDocumentSoapIn" />
      <wsdl:output message="tns:PublishDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input message="tns:DeleteDocumentSoapIn" />
      <wsdl:output message="tns:DeleteDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocIndexSoap" type="tns:DocIndexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishDocument">
      <soap:operation soapAction="http://www.teleologic.co.uk/PublishDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://www.teleologic.co.uk/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocIndexSoap12" type="tns:DocIndexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishDocument">
      <soap12:operation soapAction="http://www.teleologic.co.uk/PublishDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap12:operation soapAction="http://www.teleologic.co.uk/DeleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocIndex">
    <wsdl:port name="DocIndexSoap" binding="tns:DocIndexSoap">
      <soap:address location="http://localhost/GSEMartDI/DocIndex.asmx" />
    </wsdl:port>
    <wsdl:port name="DocIndexSoap12" binding="tns:DocIndexSoap12">
      <soap12:address location="http://localhost/GSEMartDI/DocIndex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>